<appSettings>
	<add key="mailserver" value="dev-smtp.vidly.com" />
	<add key="facebookId" value="1646957545679306" />
	<add key="facebookPass" value="10840518f9646855e8e11b91564767cc" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>